/* Contenedor principal */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.container {
    display: grid;
    grid-template-rows: 11.13vh 1fr;
    height: 100vh;
    width: 100vw;
  }
  
  /* Header */
  .header {
    background-color: #00072D;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

   /* Título */
   .title_header {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #DAEBFD;
    font-family: var(--font-nunito);
  }
  
  
  
  /* Cuerpo */
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-nunito);
  }
  
  /* Formulario principal */
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30.5vw;
    height: 60.44vh;
    background-color: #FAFAFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: var(--font-nunito);
  }
  
  /* Contenedor del logo */
  .logoContainer {
    text-align: center;
    
  }
  
  /* Estilo del logo */
  .logo {
    height: 2.5rem;
    width: auto;
  }
  
  /* Título */
  .title {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #1A202C;
    font-family: var(--font-nunito);
  }
  
  /* Contenedor del formulario */
  .formContent {
    margin-top: 2.5rem;
    width: 100%;
    max-width: 24rem;
    padding: 1rem;
    font-family: var(--font-nunito);
  }
  
  /* Estilo del formulario */
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: var(--font-nunito);
  }
  
  /* Estilo de las etiquetas */
  .label {
    font-size: 1rem;
    font-weight: 500;
    color: #1A202C;
    font-family: var(--font-nunito);
  }
  
  /* Contenedor de cada input */
  .inputWrapper {
    margin-top: 0.5rem;
  }
  
  /* Estilo de los inputs */
  .input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #1A202C;
    background-color: #FFFFFF;
    border-radius: 0.375rem;
    border: 1px solid #E2E8F0;
    outline: none;
    font-family: var(--font-nunito);
  }
  
  /* Estilo al enfocar los inputs */
  .input:focus {
    border-color: #3182CE;
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
  }
  
  /* Contenedor de la contraseña */
  .passwordWrapper {
    display: flex;
    justify-content: space-between;
  }
  
  /* Enlace de olvido de contraseña */
  .forgotPasswordLink {
    font-size: 0.875rem;
    font-family: var(--font-nunito);
  }
  
  /* Enlace */
  .link {
    color: #1D264D;
    text-decoration: none;
    font-weight: 600;
  }
  
  .link:hover {
    color: #7180AC;
  }
  
  /* Estilo del botón de submit */
  .submitButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #170A1C;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    font-family: var(--font-nunito);
  }
  
  .submitButton:hover {
    background-color: #39446D;
  }
  
  /* Texto para usuarios no registrados */
  .notMember {
    margin-top: 2.5rem;
    font-size: 1rem;
    color: #4A5568;
    text-align: center;
    font-family: var(--font-nunito);
  }
  
  .notMember a {
    font-weight: 600;
    color: #1D264D;
  }
  
  .notMember a:hover {
    color: #7180AC;
  }
  
  /* Media Queries para pantallas pequeñas */
  @media (max-width: 768px) {
    .formContainer {
      width: 80vw; /* Aumentar el ancho del formulario para pantallas pequeñas */
      height: auto; /* Permitir que el formulario tenga una altura ajustable */
      padding: 1rem; /* Añadir padding para que no se quede pegado a los bordes */
    }
  
    .logo {
      height: 2rem; /* Ajustar tamaño del logo */
    }
  
    .title {
      font-size: 1.125rem; /* Reducir tamaño del título */
    }
  
    .formContent {
      margin-top: 1.5rem; /* Reducir margen superior */
    }
  
    .form {
      gap: 1.25rem; /* Reducir el espacio entre los campos del formulario */
    }
  
    .input {
      font-size: 0.875rem; /* Reducir tamaño de fuente en inputs */
    }
  
    .submitButton {
      padding: 0.75rem; /* Ajustar padding del botón */
    }
  
    .notMember {
      font-size: 0.75rem; /* Reducir tamaño de fuente en el texto de usuario no registrado */
    }
  
    .notMember a {
      font-size: 0.75rem; /* Reducir tamaño de fuente en el enlace */
    }
  }


   /* Media Queries para pantallas más grandes */
   @media (min-width: 769px) {
    .formContainer {
      width: 80vw; /* Ajustar el ancho para que no sea muy grande */
      max-width: 500px; /* Limitar el ancho máximo */
      min-width: 400;
      height: auto; /* Permitir altura ajustable */
      padding: 5rem; /* Padding más grande en pantallas grandes */
    }
  
    .logo {
      height: 3rem; /* Aumentar el tamaño del logo */
    }
  
    .title {
      font-size: 1.5rem; /* Aumentar tamaño de fuente en pantallas grandes */
    }
  
    .formContent {
      max-width: 24rem; /* Aumentar el tamaño máximo del formulario */
    }
  
    .input {
      font-size: 1rem; /* Mantener el tamaño de fuente en inputs para pantallas grandes */
    }
  
    .submitButton {
      font-size: 1.125rem; /* Aumentar tamaño de fuente en el botón */
    }
  
    .notMember {
      font-size: 1rem; /* Aumentar tamaño de fuente en el texto de usuario no registrado */
    }
  }


  /* Media Queries para pantallas más grandes */
  @media (min-width: 1024px) {
    .formContainer {
      width: 50vw; /* Ajustar el ancho para que no sea muy grande */
      max-width: 500px; /* Limitar el ancho máximo */
      min-width: 400;
      height: auto; /* Permitir altura ajustable */
      padding: 5rem; /* Padding más grande en pantallas grandes */
    }
  
    .logo {
      height: 3rem; /* Aumentar el tamaño del logo */
    }
  
    .title {
      font-size: 1.5rem; /* Aumentar tamaño de fuente en pantallas grandes */
    }
  
    .formContent {
      max-width: 24rem; /* Aumentar el tamaño máximo del formulario */
    }
  
    .input {
      font-size: 1rem; /* Mantener el tamaño de fuente en inputs para pantallas grandes */
    }
  
    .submitButton {
      font-size: 1.125rem; /* Aumentar tamaño de fuente en el botón */
    }
  
    .notMember {
      font-size: 1rem; /* Aumentar tamaño de fuente en el texto de usuario no registrado */
    }
  }
