/* Contenedor principal que ocupa toda la pantalla */
.container {
    display: grid;
    grid-template-rows: 11.13vh 1fr; /* Header fijo y el resto flexible */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    width: 100vw; /* Ocupa todo el ancho */
}

/* Header con altura proporcional */
.login_header {
    background-color: #00072D;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    padding: 0 1rem; /* Ajusta el espacio lateral */
}

/* Fila del cuerpo (centrado total) */
.body_container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Área del cuerpo (centrado sin scroll) */
.login_form {
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    justify-content: space-around;
    align-items: center;
    width: 42.5vw;
    height: 60.44vh;
    background-color: #FAFAFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.5vw;
    height: 9.18vh;
    flex-shrink: 0;
    background-color: #170A1C;
    border-radius: 8px;
    color: #FFFFFA;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border: none;
}
